<form asp-action="Add" asp-controller="Contractor" asm-method="post">
    <fieldset>

        <legend>Создание контрагента</legend>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Компания</label>
            <div class="col-md-4">
                <input id="textinput" name="company" type="text" placeholder="Название" class="form-control input-md">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Фамилия</label>
            <div class="col-md-4">
                <input id="textinput" name="surname" type="text" placeholder="Фамилия" class="form-control input-md">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Имя</label>
            <div class="col-md-4">
                <input id="textinput" name="name" type="text" placeholder="Имя" class="form-control input-md">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Отчество</label>
            <div class="col-md-4">
                <input id="textinput" name="patrname" type="text" placeholder="Отчество" class="form-control input-md">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Номер телефона</label>
            <div class="col-md-4">
                <input id="textinput" name="tel" type="text" placeholder="0 000 000-00-00" class="form-control input-md">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Адрес электронной почты</label>
            <div class="col-md-4">
                <input id="textinput" name="email" type="text" placeholder="example@domain.zone" class="form-control input-md">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Создать контрагента</button>
            </div>
        </div>

    </fieldset>
</form>

