@model IEnumerable<Museum.Models.Hall>
@using System.Security.Claims

<div class="display">

    @foreach (Hall item in Model)
    {
        <div class="card text-center">

            <img src="@item.HallImage" style="width: 100%">

            <div class="container">

                <h4><b>@item.HallTitle</b></h4>

                @if (User.HasClaim(ClaimsIdentity.DefaultRoleClaimType, "True"))
                {
                    <a asp-action="Edit" asp-controller="Hall" asp-route-id="@item.Id">Изменить</a>
                }

                <br />

                <a asp-controller="Exhibit" asp-action="Hall" asp-route-id="@item.Id">Экспонаты</a>

            </div>

        </div>
    }

    <br />

    @if(User.HasClaim(ClaimsIdentity.DefaultRoleClaimType, "True"))
    {
        <a asp-action="AddHall" asp-controller="Hall">Добавить зал</a>
    }

</div>