@model IEnumerable<Museum.Models.Hall>

<div class="display">

    @foreach (Hall item in Model)
    {
        <div class="card text-center">

            <img src="@item.HallImage" style="width: 100%">

            <div class="container">

                <h4><b>@item.HallTitle</b></h4>

             

            </div>

        </div>
    }

</div>