@model Museum.Models.Exhibit

<h1>@Model.Title</h1>

@{string[]? links = Model.Images.Split(new char[] { '#' }, StringSplitOptions.RemoveEmptyEntries);}

@foreach(string s in links)
{
    <img src="@s"/>
}

<br />

<a>@Model.Description</a>