@using System.Security.Claims
@model IEnumerable<Museum.Models.Exhibit>

@{
    int prevCat = Model.First().CategoryId;
}

<div class="display">

    @foreach(Exhibit item in Model)
    {
        @if(item.CategoryId != prevCat)
        {

            prevCat = item.CategoryId;
        }

        <div class="card text-center">

            <img src="@item.Images" style="width: 100%">
            
            <div class="container">

                <h4><b>@item.Title</b></h4>

                <a asp-controller="Exhibit" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>

            </div>

        </div>
    }

    @if(User.HasClaim(ClaimsIdentity.DefaultRoleClaimType, "True"))
    {
        <a asp-action="AddExhibit" asp-controller="Exhibit">Добавить экспонат</a>
    }

</div>