@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <th style="padding:50px"><a asp-controller="Exhibit" asp-action="Index">Экспонаты</a></th>
            <th style="padding:50px"><a asp-controller="Exhibition" asp-action="Index">Выставки</a></th>
            <th style="padding:50px"><a asp-controller="Hall" asp-action="Index">Залы</a></th>
        </tr>
    </table>
</div>
